<div class="wrapper">
     {{> navbar}}
     
      <aside class="main-sidebar sidebar-dark-primary elevation-4" style="background-color: #263544">
   <a href="#" class="brand-link">
      <img src="dist/img/logo1.jpg" alt="AdminLTE Logo" class="brand-image" style="opacity: .8">
      <span class="brand-text font-weight-light" style="font-weight: 1000; font-size:15px">Tài Chính</span>
    </a>
    <div class="sidebar">
      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" 
        data-accordion="false" style="color: #b7c0cd; font-size: 15px; font-weight: 100px">
          <li class="nav-item">
              <a href="/home" class="nav-link">
                <i class="fa fa-home"></i>
                <p>
                  Trang chủ
                </p>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="fa fa-users"></i>
                <p>
                  Quản lý nhân viên
                  <i class="right fas fa-angle-left"></i>
                </p>
              </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a href="/user" class="nav-link">
                    <i class="fa fa-circle nav-icon" style="font-size: 10px;"></i>
                    <p>Quản lý tài khoản</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="/permission" class="nav-link">
                    <i class="fa fa-circle nav-icon" style="font-size: 10px;"></i>
                    <p>Quản lý nhóm quyền</p>
                  </a>
                </li>
            </ul>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="fas fa-money-check-alt"></i>
                <p>
                  Quản lý thu chi
                  <i class="right fas fa-angle-left"></i>
                </p>
              </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a href="/revenue" class="nav-link">
                    <i class="fa fa-circle nav-icon" style="font-size: 10px;"></i>
                    <p>Quản lý thu</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="/expense" class="nav-link">
                    <i class="fa fa-circle nav-icon" style="font-size: 10px;"></i>
                    <p>Quản lý chi</p>
                  </a>
                </li>
            </ul>
            </li>
            
            <li class="nav-item menu-open">
              <a href="/interest-loans" class="nav-link">
                <i class="fas fa-money-check-alt"></i>
                <p>
                  Vay lãi
                  <i class="right fas fa-angle-left"></i>
                </p>
              </a>
            </li>
          
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
 </aside>
     <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            
            <h5 class="m-0" style="font-weight: 500;
    font-family: quicksand,sans-serif; color: #6c757d">
    <i class="fas fa-money" style="color: blue;"></i>
    Quản lý vay lãi</h5>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
              <li class="breadcrumb-item active">Quản lý chi</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
<div class="modal fade" id="message-not-found">
    <div class="modal-dialog">
        <div class="modal-content" style="margin-top:20%">
           <div class="modal-header" style="background-color: #dc3545">
              <h4 class="modal-title" style="color:#fff">Thông báo</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true" style="color: #fff">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div class="">
                    Không tìm thấy dữ liệu
                </div>
            </div>
        </div>
    </div>
</div>
    <!-- Main content -->
    <section class="content" >
      <div class="container-fluid">
        <div class="modal fade" id="modal-details_pawn" style="overflow-x: hidden;
    overflow-y: auto;">
    <div class="modal-dialog" style="width: 90%;max-width:1200px;margin: 30px auto;position: relative">
        <div class="modal-content"
            style="box-shadow: 0px 0px 15px 1px rgb(69 65 78 / 20%;
                border: 0;
                border-radius: 4px;position: relative;
                display: flex;
                flex-direction: column;
                pointer-events: auto;
                background-color: #fff;
                background-clip: padding-box;
                outline: 0;
            "
          >
           <div class="modal-header" 
            style="padding: 12px;
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                border-bottom: 1px solid #e9ecef;
                border-top-left-radius: 0.3rem;
                border-top-right-radius: 0.3rem;">
              <h4 class="modal-title" style="color: #3f4047;font-weight: 400 !important;
                font-size: 1.1rem;margin-bottom: 0;
                  line-height: 1.5;">Chi tiết khoản vay</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true" style="color: #3f4047">&times;</span>
              </button>
            </div>
            <div class="modal-body" style="padding: 25px;position: relative;flex: 1 1 auto;">
              <div class="m-form m-form--fit m-form--label-align-right">
                <div class="m-portlet__body">
                  <div class="row">
                    <div class="col-md-6">
                        <table class="table table-hover table-bordered">
                            <tbody>
                                <tr id="trCusName">
                                    <td colspan="3">
                                        <span class="text-danger font-weight-bold" id="lblCusName">aaaa</span> 
                                        <span id="lblCusPhone"> - <i class="fa fa-phone" style="font-size:10px"></i>
                                        <small> <i id='telephone-customer'></i></i></small></span>
                                        <span id="lblCusAddress"></span>
                                        <i id='i-id-interest-loans' style="display: none;"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td
                                      style="border: 1px solid #f4f5f8;"
                                    ><span class="font-weight-bold" id="lblTienVay">Tiền vay</span></td>
                                    <td colspan="2" align="right"><span id="lblTotalMoney">123,123</span> VNĐ</td>
                                </tr>
                                <tr>
                                    <td><span class="font-weight-bold">Lãi suất</span></td>
                                    <td colspan="2" align="right"><span id="lblStrRate">12k /ngày</span></td>
                                </tr>
                                <tr>
                                    <td><span class="font-weight-bold">Vay từ ngày</span></td>
                                    <td align="right"><span id="lblFromDate">05/09/2022</span> </td>
                                    <td align="right"><span id="lblToDate">16/09/2022</span></td>
                                </tr>
                              
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <table class="table table-hover table-bordered">
                            <tbody>
                                <tr>
                                    <td><span class="font-weight-bold">Tổng lãi</span></td>
                                    <td colspan="2" align="right"><span id="lblTotalInterest">144,000</span> VNĐ</td>
                                </tr>
                                <tr>
                                    <td><span class="font-weight-bold">Đã thanh toán</span></td>
                                    <td colspan="2" align="right">
                                        <span id="lblPaymentMoney">0</span> VNĐ
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="font-weight-bold" id="lblDisplayDebitOrOverMoney">Nợ cũ KH: </span><span class="text-danger font-weight-bold" id="lblCustomerDebitMoney"><span class="text-danger font-weight-bold">0 VNĐ</span></span></td>
                                    <td align="right"><span class="font-weight-bold" id="lblDisplayLoanDebit">Nợ cũ HĐ: </span> <span class="text-danger font-weight-bold" id="lblLoanDebitMoney"><span class="text-danger font-weight-bold">0 VNĐ</span></span></td>
                                </tr>
                                <tr>
                                    <td><span class="font-weight-bold">Trạng thái</span></td>
                                    <td colspan="2" align="right" class=""><span id="lblStatus"><span class="m-badge m-badge--info m-badge--wide" style="font-size:12px">Đang vay</span></span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                  </div>
                  <div class="row">
                      <div class="col-md-12">
                          <div class="m-portlet__head">
                            <div class="m-portlet__head-tools">
                              <ul class="nav nav-tabs  m-tabs-line m-tabs-line--primary m-tabs-line--2x" id="tabs" role="tablist">
                                  <li class="nav-item m-tabs__item" id="item_donglai">
                                      <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_tab_donglai" id="dong_tien_lai">
                                          <i class="fas fa-money-check-alt"></i>  <span id="lblTitleTabDongLai">Đóng tiền lãi</span>
                                      </a>
                                  </li>
                                          <li class="nav-item m-tabs__item" id="item_trabotgoc">
                                            <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_tab_trabotgoc">
                                              <i class="fas fa-money-check-alt"></i> <span id="lblTitleTraBotGoc">Trả bớt gốc</span>
                                            </a>
                                            </li>
                                            <li class="nav-item m-tabs__item m-nav" id="item_vaythemtien" disabled>
                                                <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_tab_vaythemtien" disabled>
                                                  <i class="fas fa-money-check-alt"></i> Vay thêm
                                                </a>
                                            </li>
                                            <li class="nav-item m-tabs__item m-nav" id="item_chuocdo">
                                              <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_tab_giahan">
                                                        <i class="fas fa-money-check-alt disabled"></i> Gia hạn
                                               </a>
                                            </li>
                                            {{!-- <li class="nav-item m-tabs__item m-nav" id="item_chuocdo">
                                              <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_tab_chuocdo">
                                                        <i class="fa fa-money"></i><span id="lblTitleDongHD">Đóng HĐ</span>
                                              </a>
                                            </li>
                                            <li class="nav-item m-tabs__item m-nav" id="item_no">
                                              <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_tab_no">
                                                <i class="la la-tags"></i>Nợ
                                              </a>
                                            </li>
                                            <li class="nav-item m-tabs__item m-nav" id="item_upload">
                                              <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_tab_upload">
                                                <i class="la la-photo"></i>Chứng từ
                                              </a>
                                            </li>
                                            <li class="nav-item m-tabs__item m-nav" id="item_lichsu">
                                                <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_tab_lichsu">
                                                    <i class="la la-commenting"></i>Lịch sử
                                                </a>
                                            </li>
                                                <li class="nav-item m-tabs__item m-nav" id="item_lichsutracham">
                                                    <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_tab_lichsutracham">
                                                        <i class="la la-commenting"></i>Lịch sử trả chậm
                                                  </a>
                                            </li>
                                            <li class="nav-item m-tabs__item m-nav" id="item_hengio">
                                              <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_tab_hengio">
                                                <i class="la la-clock-o"></i>Hẹn giờ
                                              </a>
                                            </li> --}}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                      </div>
                      <div class="tab-content" style="margin-top: 20px;">
                        <div class="tab-pane active" id="m_tab_donglai">
                          <div id="div_donglai">
                            <br>
                            <h6>
                                <i class="m-portlet__head-text">
                                    <i class="fa fa-align-justify"></i> Lịch sử đóng tiền lãi
                                </i>
                            </h6>
                            <div class="d-md-none m--margin-bottom-10"></div>
                            <div class="m-form__seperator m-form__seperator--dashed m-form__seperator--space"></div>
                            <div class="col-sm-12" id="errorIos_Note" style="display:none">
                              <span class="m--font-danger" style="font-size:11px">
                                  * Lưu ý : Đối với điện thoại IOS, vui lòng vuốt 2 bên lịch thanh toán để có thể kéo lên xuống xem dữ liệu.<br>
                                  Click vào giữa bảng kéo sang ngang để xem đủ thông tin
                              </span>
                            </div>
                            <div class="table-responsive" id="tbl_DongLai_listHistoryPayment">
                              <table class="table table-bordered m-table  m-table--head-bg-gray table-hover" 
                              
                              >
                                <thead style="background-color: #f2f0f7">
                                  <tr>
                                    <th width="50px" class="text-center"> STT</th>
                                    <th colspan="3" class="text-center">Ngày</th>
                                    <th class="text-center">Số ngày</th>
                                    <th class="text-center">Tiền lãi</th>
                                    <th class="text-center">Tiền khác</th>
                                    <th class="text-center">Tổng lãi</th>
                                    <th class="text-center" style="padding:0px 50px 10px 50px;">Tiền khách trả</th>
                                    {{!-- <th class="text-center">In</th> --}}
                                    <th class="text-center" >Đóng lãi</th>
                                    {{!-- <th class="text-center">Ghi chú</th> --}}
                                  </tr>                             
                                </thead>
                                <tbody id="table-profits">
                                  <tr>
                                      <td align="center" class="align-middle">1</td>
                                      <td align="center" class="align-middle">30/08/2022</td>
                                      <td align="center" class="align-middle">
                                        <i class="fa fa-arrow-right"></i></td>
                                      <td align="center" class="align-middle">
                                        12/09/2022
                                      </td>       
                                      <td align="center" class="align-middle">14</td>
                                      <td align="right" class="align-middle">5,200,000 VNĐ</td>
                                      <td align="right" class="align-middle">0 VNĐ</td>
                                      <td align="right" class="align-middle">5,200,000 VNĐ</td>
                                      <td align="right" class="align-middle">
                                      <input type="text" style="text-align:right;color:Red;font-size:14px" 
                                      class="form-control form-control-sm m-input m-input--pill " id="txtPaymoney_89197732" 
                                      value="5,200,000">
                                      </td>                                                           
                                      <td align="center" class="align-middle">
                                        <label class="m-checkbox m-checkbox--bold m-checkbox--state-success">  
                                          <input type="checkbox" title="Bỏ tích để hủy đóng lãi" id="ck_89197732" 
                                          class="ckClickPayment" onclick="FastPayment(1,89197732,2347250,'30/08/2022','12/09/2022','')"> 
                                            <span style="margin-top:-6px"></span>
                                        </label>
                                      </td>
                                      {{!-- <td align="center" class="align-middle">
                                          <a id="btnNoteShow_89197732" class="btn btn-secondary btn-sm" title="Ghi chú" 
                                          onclick="loadDataComment(89197732)">
                                            <i class="fa fa-pencil"></i>
                                          </a>
                                      </td> --}}
                                    </tr> 
                                    
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                        <div class="tab-pane" id="m_tab_trabotgoc">
                          <form id="pay_down_the_principal">
                              <div class="">
                                  <div class="form-group m-form__group row">
                                      <label for="example-text-input" 
                                      class="col-lg-4 col-sm-12 col-12 col-form-label font-weight-bold">
                                          Ngày trả trước gốc <span class="text-danger">*</span>
                                      </label>
                                      <div class="col-lg-3">
                                          <div class="input-group date" id="reservation_interest_payment" data-target-input="nearest">
                                          <input type="text" class="form-control datetimepicker-input" data-target="#reservation_interest_payment">
                                          <div class="input-group-append" data-target="#reservation_interest_payment" data-toggle="datetimepicker">
                                              <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                          </div>
                                        </div>
                                        
                                      </div>
                                       
                                  </div>
                                  <div class="form-group m-form__group row">
                                      <label for="example-text-input" class="col-lg-4 col-sm-12 col-12 col-form-label font-weight-bold">
                                          Số tiền gốc trả trước <span class="text-danger">*</span>
                                      </label>
                                      <div class="col-lg-3">
                                          <div class="m-input-icon m-input-icon--right">
                                              <div class="input-group m-input-group">
                                                  <input type="text" class="form-control m-input  "
                                                   id="txtTragoc_TotalMoney" name="txtTragoc_TotalMoney" value="" 
                                                   data-toggle="tooltip" data-placement="top" data-original-title="Không đồng">
                                                  <span class="input-group-addon">
                                                      <i class="text-black">VNĐ</i>
                                                  </span>
                                              </div>
                                              <p style="color: red;display:none"  id="error-date-tragoc"><small></small></p>
                                          </div>
                                         
                                      </div>
                                  </div>
                                  <div class="form-group m-form__group row">
                                      <label for="example-text-input" class="col-lg-4 col-sm-12 col-12 col-form-label font-weight-bold">
                                          Ghi chú
                                      </label>
                                      <div class="col-lg-6">
                                          <textarea class="form-control m-input " id="txtTragoc_Note" rows="3"></textarea>
                                      </div>
                                  </div>
                                  <div class="form-group m-form__group row">
                                      <label for="example-text-input" class="col-lg-4 col-sm-12 col-12 col-form-label font-weight-bold">
                                      </label>
                                      <div class="col-lg-4">
                                          <button type="submit" id="BtnTragoc" class="btn btn-sm btn-primary m-btn--air">
                                              <i class="fa fa-thumbs-up"></i>
                                              Đồng ý
                                          </button>
                                      </div>
                                  </div>
                              </div>
                          </form>
                        <h6>
                            <i class="m-portlet__head-text">
                                <i class="fa fa-align-justify"></i> Danh sách tiền gốc
                            </i>
                        </h6>
                            <div class="d-md-none m--margin-bottom-10"></div>
                            <div class="m-form__seperator m-form__seperator--dashed m-form__seperator--space"></div>
                            <div class="table-responsive" id="tbl_Tragoc_listHistoryLoanExtra">
                            </div>
                        </div>

<div class="tab-pane" id="m_tab_vaythemtien">
                          <form id="pay_up_the_principal">
                              <div class="">
                                  <div class="form-group m-form__group row">
                                      <label for="example-text-input" 
                                      class="col-lg-4 col-sm-12 col-12 col-form-label font-weight-bold">
                                          Ngày vay thêm gốc <span class="text-danger">*</span>
                                      </label>
                                      <div class="col-lg-3">
                                          <div class="input-group date" id="reservation_extra_loan_day" data-target-input="nearest">
                                          <input type="text" class="form-control datetimepicker-input" data-target="#reservation_extra_loan_day">
                                          <div class="input-group-append" data-target="#reservation_extra_loan_day" data-toggle="datetimepicker">
                                              <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                          </div>
                                        </div>
                                        
                                      </div>
                                       
                                  </div>
                                  <div class="form-group m-form__group row">
                                      <label for="example-text-input" class="col-lg-4 col-sm-12 col-12 col-form-label font-weight-bold">
                                          Số tiền vay thêm <span class="text-danger">*</span>
                                      </label>
                                      <div class="col-lg-3">
                                          <div class="m-input-icon m-input-icon--right">
                                              <div class="input-group m-input-group">
                                                  <input type="text" class="form-control m-input " 
                                                  id="txtVaythem_TotalMoney" name="txtVaythem_TotalMoney" 
                                                  value="" data-toggle="tooltip" data-placement="top" 
                                                  data-original-title="Không đồng">
                                                  <span class="input-group-addon">
                                                      <i class="text-black">VNĐ</i>
                                                  </span>
                                              </div>
                                              <p style="color: red;display:none"  id="error-date-vaythem"><small></small></p>
                                          </div>
                                         
                                      </div>
                                  </div>
                                  <div class="form-group m-form__group row">
                                      <label for="example-text-input" class="col-lg-4 col-sm-12 col-12 col-form-label font-weight-bold">
                                          Ghi chú
                                      </label>
                                      <div class="col-lg-6">
                                          <textarea class="form-control m-input " id="txtVaythem_Note" rows="3"></textarea>
                                      </div>
                                  </div>
                                  <div class="form-group m-form__group row">
                                      <label for="example-text-input" class="col-lg-4 col-sm-12 col-12 col-form-label font-weight-bold">
                                      </label>
                                      <div class="col-lg-4">
                                          <button type="submit" id="BtnVayThem" class="btn btn-sm btn-primary m-btn--air">
                                              <i class="fa fa-thumbs-up"></i>
                                              Đồng ý
                                          </button>
                                      </div>
                                  </div>
                              </div>
                          </form>
                        <h6>
                            <i class="m-portlet__head-text">
                                <i class="fa fa-align-justify"></i> Danh sách tiền gốc
                            </i>
                        </h6>
                            <div class="d-md-none m--margin-bottom-10"></div>
                            <div class="m-form__seperator m-form__seperator--dashed m-form__seperator--space"></div>
                            <div class="table-responsive" id="tbl_Tragoc_listHistoryLoanExtra">
                            </div>
                        </div>
    <div class="tab-pane" id="m_tab_giahan">
    <form id="loan_extension">
        <div class="">
            <div class="form-group m-form__group row">
                <label for="example-text-input" class="col-lg-4 col-sm-12 col-12 col-form-label font-weight-bold">
                   Khách hàng
                </label>
                <div class="col-lg-3">
                    <div class="m-input-icon m-input-icon--right ">
                        <label class="col-form-label font-weight-bold" id="lblGiaHan_CusName"></label>
                    </div>
                </div>
            </div>
            <div class="form-group m-form__group row">
                <label for="example-text-input" class="col-lg-4 col-sm-12 col-12 col-form-label font-weight-bold">
                   Gia hạn thêm <span class="text-danger">*</span>
                </label>
                <div class="col-lg-3">
                    <div class="m-input-icon m-input-icon--right">
                        <div class="input-group m-input-group">
                            <input type="number" class="form-control m-input " id="txtGiaHan" name="txtGiaHan" value="1">
                            <span class="input-group-addon">
                                <i class="text-black" id="strGiaHan">Ngày</i>
                            </span>
                        </div>
                        <p style="color: red;display:none"  id="error-date-giahanthem"><small></small></p>
                    </div>
                </div>
            </div>
            <div class="form-group m-form__group row">
                <label for="example-text-input" class="col-lg-4 col-sm-12 col-12 col-form-label font-weight-bold">
                    Ghi chú
                </label>
                <div class="col-lg-6">
                    <textarea class="form-control m-input " rows="3" id="txtGiaHan_Note"></textarea>
                </div>
            </div>
            <div class="form-group m-form__group row">
                <label for="example-text-input" class="col-lg-4 col-sm-12 col-12 col-form-label font-weight-bold">
                </label>
                <div class="col-lg-4">
                    <button type="submit" id="BtnGiaHan" class="btn btn-sm btn-primary m-btn--air">
                        <i class="fa fa-thumbs-up"></i>
                        Đồng ý
                    </button>
                </div>
            </div>
        </div>
    </form>
   

</div>
                      </div>
                      
                      
                      </div>

                </div>
              </div>
            </div>
        </div>
    </div>
</div>
        <div class="modal fade" id="modal-default-revenue-expense">
        <div class="modal-dialog" style="width: 90%;max-width:1200px;margin: 30px auto;position: relative">
          <div class="modal-content"
            style="box-shadow: 0px 0px 15px 1px rgb(69 65 78 / 20%;
                border: 0;
                border-radius: 4px;position: relative;
                display: flex;
                flex-direction: column;
                pointer-events: auto;
                background-color: #fff;
                background-clip: padding-box;
                outline: 0;
            "
          >
            <div class="modal-header" 
            style="padding: 12px;
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                border-bottom: 1px solid #e9ecef;
                border-top-left-radius: 0.3rem;
                border-top-right-radius: 0.3rem;">
              <h4 class="modal-title" style="color: #3f4047;font-weight: 400 !important;
                font-size: 1.1rem;margin-bottom: 0;
                  line-height: 1.5;">Thêm mới khoản vay</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true" style="color: #3f4047">&times;</span>
              </button>
            </div>
            
             {{!-- <form id="FormRevenueExpense" style="font-sỉze: 15px"> --}}
              <div class="modal-body" style="padding: 25px;position: relative;flex: 1 1 auto;">
                <form id="FormInterestLoans" style="font-sỉze: 15px">
                  <h6>
                      <i class="m-portlet__head-text  m--margin-left-30">
                          <i class="fa fa-user"></i> Thông tin khách hàng
                      </i>
                  </h6>
                  <div class="" style="border-top:1px dashed #ebedf2;margin-bottom:15px"></div>
                  <div class="form-group row">
                      <div class="col-lg-2 label-interest"><label for="exampleInputEmail1" 
                        style="color:#3f4047;padding-top: 0.6rem">
                        Khách hàng<span class="text-danger">*</span></label>
                      </div>
                      <div class="col-lg-3">
                        <input type="text" class="form-control" id="InputClient" placeholder="Nhập tên khách hàng">
                        <p style="color: red;display:none"><small ></small></p>
                      </div>
                      <div class="col-lg-2 label-interest"><label for="exampleInputEmail1" 
                        style="text-align: right;color:#3f4047;padding-top: 0.6rem">
                        Số điện thoại<span class="text-danger">*</span></label>
                      </div>
                      <div class="col-lg-3">
                        <input type="text" class="form-control" id="InputNumberPhone" placeholder="Nhập số điện thoại">
                        <p style="color: red;display:none"><small ></small></p>
                      </div>
                  </div>
                  <div class="form-group row">
                      <div class="col-lg-2 label-interest"><label for="exampleInputEmail1" 
                        style="color:#3f4047;padding-top: 0.6rem">
                        Số CMND/Hộ chiếu</label>
                      </div>
                      <div class="col-lg-3">
                        <input type="text" class="form-control" id="InputCmnd" placeholder="Nhập số CMND/Hộ chiếu">
                      </div>
                      <div class="col-lg-2 label-interest"><label for="exampleInputEmail1" 
                        style="text-align: right;color:#3f4047;padding-top: 0.6rem">
                        Ngày cấp</label>
                      </div>
                      <div class="col-lg-3">
                        <input type="text" class="form-control" id="InputCmndDate" placeholder="Nhập nơi cấp CMND">
                      </div>
                  </div>
                   <div class="form-group row">
                      <div class="col-lg-2 label-interest"><label for="exampleInputEmail1" 
                        style="color:#3f4047;padding-top: 0.6rem">
                        Nơi cấp</label>
                      </div>
                      <div class="col-lg-3">
                        <input type="text" class="form-control" id="InputCmndAddress" placeholder="Nhập nơi cấp CMND/Hộ chiếu">
                      </div>
                      <div class="col-lg-2 label-interest"><label for="exampleInputEmail1" 
                        style="text-align: right;color:#3f4047;padding-top: 0.6rem">
                        Địa chỉ</label>
                      </div>
                      <div class="col-lg-3">
                        <textarea type="textarea" class="form-control" id="InputAddress" placeholder="Nhập địa chỉ"></textarea>
                      </div>
                  </div>
                   <h6>
                      <i class="m-portlet__head-text  m--margin-left-30">
                          <i class="fas fa-money-check-alt"></i> Thông tin khoản vay
                      </i>
                  </h6>
                  <div class="" style="border-top:1px dashed #ebedf2;margin-bottom:15px"></div>
                
                  <div class="form-group row">
                      <div class="col-lg-2 label-interest"><label for="exampleInputEmail1" 
                        style="color:#3f4047;padding-top: 0.6rem">
                        Loại tài sản thế chấp</label>
                      </div>
                      <div class="col-lg-3">
                        <select class="form-control" id="type-asset">
                          <option value="0">--Không có tài sản thế chấp--</option>
                          <option value="1">Tài sản mặc định</option>
                        </select>
                      </div>
                  </div>
                   <div class="form-group row" style="display: none" id="input-name-asset">
                      <div class="col-lg-2 label-interest"><label for="exampleInputEmail1" 
                        style="color:#3f4047;padding-top: 0.6rem">
                        Tên tài sản<span class="text-danger">*</span></label>
                      </div>
                      <div class="col-lg-3">
                        <input type="text" class="form-control" id="InputNameAsset" placeholder="Nhập tên tài sản">
                      </div>
                  </div>
                  <div class="form-group row">
                      <div class="col-lg-2 label-interest"><label for="exampleInputEmail1" 
                        style="color:#3f4047;padding-top: 0.6rem">
                        Tổng số tiền vay<span class="text-danger">*</span></label>
                      </div>
                      <div class="col-lg-3">
                        <div class="input-group">
                          <input type="text" class="form-control" id="InputTotal" placeholder="0">
                          <span class="input-group-addon">
                            <i class="text-black">VNĐ</i>
                          </span>
                        </div>
                        <p style="color: red;display:none" ><small></small></p>
                      </div>
                  </div>
                  <div class="form-group row">
                      <div class="col-lg-2 label-interest"><label for="exampleInputEmail1" 
                        style="color:#3f4047;padding-top: 0.6rem">
                        Hình thức lãi<span class="text-danger">*</span></label>
                      </div>
                      <div class="col-lg-3">
                        <select class="form-control" id="form-of-profit">
                          {{#each listStatusInterest}}
                            <option value="{{this.type}}">{{this.name}}</option>
                          {{/each}}
                        </select>
                      </div>
                  </div>
                  <div class="form-group row">
                      <div class="col-lg-2 label-interest"><label for="exampleInputEmail1" 
                        style="color:#3f4047;padding-top: 0.6rem">
                        Thời gian vay<span class="text-danger">*</span></label>
                      </div>
                      <div class="col-lg-3">
                        <div class="input-group">
                          <input type="text" class="form-control" id="InputProfitTime" placeholder="Nhập thời gian vay">
                          <span class="input-group-addon">
                            <i class="text-black-loan-time" id="strLoanTime">Ngày</i>
                          </span>
                        </div>
                        <p style="color: red;display:none" ><small></small></p>
                      </div>
                  </div>
                  <div class="form-group row">
                      <div class="col-lg-2 label-interest"><label for="exampleInputEmail1" 
                        style="color:#3f4047;padding-top: 0.6rem">
                        Kỳ lãi<span class="text-danger">*</span></label>
                      </div>
                      <div class="col-lg-3">
                        <div class="input-group">
                          <input type="text" class="form-control" id="InputProfitPeriod" placeholder="Nhập số kỳ lãi">
                          <span class="input-group-addon">
                            <i class="text-black-loan-time" id="strLoanTime">Ngày</i>
                          </span>
                        </div>
                        <p style="color: red;display:none" ><small></small></p>
                      </div>
                      <div class="col-lg-3">
                        (VD : 10 ngày đóng lãi 1 lần thì điền số 10, tương tự với tuần tháng)
                      </div>
                  </div>
                  <div class="form-group row">
                      <div class="col-lg-2 label-interest"><label for="exampleInputEmail1" 
                        style="color:#3f4047;padding-top: 0.6rem">
                        Lãi<span class="text-danger">*</span></label>
                      </div>
                      <div class="col-lg-3">
                        <div class="input-group">
                          <input type="text" class="form-control" id="InputInterest" placeholder="Nhập số kỳ lãi">
                        <span class="input-group-addon">
                          <i class="text-black" id="strLoanTimeMoney">k/1 Ngày</i>
                        </span>
 
                        </div>
                        <p style="color: red;display:none" ><small></small></p>
                      </div>
                  </div>
                  <div class="form-group row">
                      <div class="col-lg-2 label-interest"><label for="exampleInputEmail1" 
                        style="color:#3f4047;padding-top: 0.6rem">
                        Ngày vay<span class="text-danger">*</span></label>
                      </div>
                      <div class="col-lg-3">
                        <div class="input-group date" id="reservation_interest" data-target-input="nearest">
                          <input type="text" class="form-control datetimepicker-input" data-target="#reservation_interest">
                          <div class="input-group-append" data-target="#reservation_interest" data-toggle="datetimepicker">
                              <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="form-group row">
                      <div class="col-lg-2 label-interest"><label for="exampleInputEmail1" 
                        style="color:#3f4047;padding-top: 0.6rem">
                        Ghi chú</label>
                      </div>
                      <div class="col-lg-3">
                        <textarea type="text" class="form-control" id="InputNote" placeholder="Nhập ghi chú"></textarea>
                      </div>
                  </div>
                  <div class="form-group row">
                      <div class="col-lg-2 label-interest">
                      </div>
                      <div class="col-lg-3">
                        <div class="modal-footer">
                          <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">
                            <i class="fas fa-times">
                            </i>
                          Hủy</button>
                        <button type="submit" class="btn btn-primary btn-sm" style="color: #fff;
                            background-color: #5867dd;
                            border-color: #5867dd;">
                          <i class="fa fa-save">
                          </i>
                        Lưu lại </button>
                    </div>
                      </div>
                  </div>
                </form>
              </div>
          </div>
        </div>
      </div>
      
      <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Danh sách vay lãi</h3>
                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <button type="button"  class="btn btn-info btn-flat" data-toggle="modal" 
                    data-target="#modal-default-revenue-expense"
                    style="font-size: .9rem"
                    >
                      <i class="fas fa-plus"></i>
                      Thêm mới
                    </button>
                  </div>
                </div>
              </div>
              <div class="card-body table-responsive">
                <form  id="searchRevenueExpense" style="width: 100%">
                  <div class="row">
                    <div class="col-md-2">
                      <div class="form-group">
                        <label>Từ ngày:</label>
                        <div class="input-group date" id="reservation_from_date" data-target-input="nearest">
                          <input type="text" class="form-control datetimepicker-input" data-target="#reservation_from_date">
                          <div class="input-group-append" data-target="#reservation_from_date" data-toggle="datetimepicker">
                              <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-2">
                      <div class="form-group">
                        <label>Đến ngày:</label>
                        <div class="input-group date" id="reservation_to_date" data-target-input="nearest">
                          <input type="text" class="form-control datetimepicker-input" data-target="#reservation_to_date">

                          <div class="input-group-append" data-target="#reservation_to_date" data-toggle="datetimepicker">
                              <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                          </div>
                          
                        </div>
                      </div>
                    </div>
                    <div class="col-md-2" style="text-align: center;">
                      <div class="form-group" style="margin-top: 35px">
                        <button  type="submit" class="btn btn-primary btn-sm" > <i class="fas fa-search"></i>Tìm kiếm</button>
                      </div>
                    </div>
                  
                   </div>
                </form>
                
                <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4"><div class="row"><div class="col-sm-12 col-md-6"></div>
                <div class="col-sm-12 col-md-6"></div></div><div class="row"><div class="col-sm-12">
                  <table id="table-revenue-expense" 
                  class="table table-bordered table-hover dataTable dtr-inline" aria-describedby="example2_info"
                  style="font-size: 15px;"
                  >
                  <thead style="background-color: #f4f3f7;font-weight: 500; color: #575962">
                    <tr>
                      <th tabindex="0" aria-controls="example2"
                       rowspan="1" colspan="1">
                       Khách hàng
                       </th>
                        <th tabindex="0" aria-controls="example2"
                       rowspan="1" colspan="1" >
                       Tài sản
                       </th>
                        <th tabindex="0" aria-controls="example2" 
                       rowspan="1" colspan="1">
                       VNĐ
                       </th>
                        <th tabindex="0" aria-controls="example2" 
                       rowspan="1" colspan="1" >
                       Ngày vay
                       </th>
                       <th tabindex="0" aria-controls="example2" 
                       rowspan="1" colspan="1" >
                       Lãi đã đóng
                       </th>
                       <th tabindex="0" aria-controls="example2" 
                       rowspan="1" colspan="1" >
                       Nợ cũ
                       </th>
                      <th tabindex="0" aria-controls="example2" 
                       rowspan="1" colspan="1" >
                       Lãi đến hôm nay
                       </th>
                       <th tabindex="0" aria-controls="example2" 
                       rowspan="1" colspan="1" >
                       Ngày phải đóng lãi
                       </th>
                       <th tabindex="0" aria-controls="example2" 
                       rowspan="1" colspan="1" >
                       Tình trạng
                       </th>
                       <th tabindex="0" aria-controls="example2" 
                       rowspan="1" colspan="1" >
                       Chức năng
                       </th>
                       </tr>
                  </thead>
                  <tbody id="body-revenue-expense">
                    {{#each listLoans}}
                      <tr class="odd">
                        <td>{{this.create_by}}
                          <span style="display: inline-block;">
                            <i class="fas fa-phone">
                            </i>
                              {{this.number_phone}}
                          </span>
                        </td>
                        <td>{{this.collateral}}</td>
                        <td>{{this.total}}
                          <span style="display: inline-block;font-size: 14px;color: brown;">
                            {{this.interest}}{{this.currency_unit}} /{{this.time_unit}}
                          </span>
                        </td>
                        <td>{{this.create_date}}
                          <span style="display: inline-block;font-size: 14px;color: #909090;">
                            ({{this.number_of_days_loans}} ngày)
                          </span>
                        </td>
                        <td>{{totalInterestPaid}}</td>
                        <td>{{this.old_debt}}</td>
                        <td>{{this.old_debt}}</td>
                        <td>{{this.old_debt}}</td>
                      </tr>
                  {{/each}}
                  </tbody>
                </table></div></div>
                <div class="row">
                  <div class="col-sm-12 col-md-5">
                      <div class="dataTables_info" id="example2_info" role="status" aria-live="polite"
                      style="padding-left: 20px;">
                        Số khoản vay: <span id="total-revenue-expense">{{total}}</span>
                         <span id="total-pages" style="display: none;">{{totalPages}}</span>
                      </div>
                  </div>
                  <div class="col-sm-12 col-md-7">
                    <div class="dataTables_paginate paging_simple_numbers" id="example2_paginate">
                      <h1 id="type-pagination" style="display:none">1</h1>
                      <ul class="pagination" id="PaginationGeneral">
                        <li class="paginate_button page-item previous disabled" id="example2_previous" disabled>
                          <a  aria-controls="example2" data-dt-idx="0" tabindex="0" class="page-link" >
                            Previous
                          </a>
                        </li>
                        <li class="paginate_button page-item active">
                          <a  aria-controls="example2" data-dt-idx="1" tabindex="0" class="page-link">
                            1
                          </a>
                        </li>
                        {{#for 2 totalPages 1}}
                        <li class="paginate_button page-item ">
                            <a  aria-controls="example2" data-dt-idx=`{{this}}` tabindex="0" class="page-link">{{this}}</a>
                        </li>
                        {{/for}}
                        {{#if (compare totalPages 1)}}
                          <li class="paginate_button page-item next disabled" id="example2_next">
                              <a  aria-controls="example2" data-dt-idx="7" tabindex="0" class="page-link">Next</a>
                          </li>
                          {{else}}
                          <li class="paginate_button page-item next" id="example2_next">
                              <a  aria-controls="example2" data-dt-idx="7" tabindex="0" class="page-link">Next</a>
                          </li>
                        {{/if}}
                      </ul>
                                </div>
                            </div>
                          </div>
                      </div>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
      </div>
    </section>
  </div>
   <footer class="main-footer">
    <strong>Copyright &copy; 2014-2021 <a href="https://adminlte.io">MinhNN</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
      <b>Version</b> 3.2.0
    </div>
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
</div>


<div class="daterangepicker ltr show-calendar opensright" 
style="top: 603.656px; left: 332px; right: auto; display: none;"><div class="ranges">

</div><div class="drp-calendar left"><div class="calendar-table"><table class="table-condensed"><thead><tr><th class="prev available"><span></span></th><th colspan="5" class="month">Aug 2022</th><th></th></tr><tr><th>Su</th><th>Mo</th><th>Tu</th><th>We</th><th>Th</th><th>Fr</th><th>Sa</th></tr></thead><tbody><tr><td class="weekend off ends available" data-title="r0c0">31</td><td class="available" data-title="r0c1">1</td><td class="available" data-title="r0c2">2</td><td class="available" data-title="r0c3">3</td><td class="available" data-title="r0c4">4</td><td class="available" data-title="r0c5">5</td><td class="weekend available" data-title="r0c6">6</td></tr><tr><td class="weekend available" data-title="r1c0">7</td><td class="available" data-title="r1c1">8</td><td class="available" data-title="r1c2">9</td><td class="available" data-title="r1c3">10</td><td class="available" data-title="r1c4">11</td><td class="available" data-title="r1c5">12</td><td class="weekend available" data-title="r1c6">13</td></tr><tr><td class="weekend available" data-title="r2c0">14</td><td class="available" data-title="r2c1">15</td><td class="today available" data-title="r2c2">16</td><td class="active start-date available" data-title="r2c3">17</td><td class="in-range available" data-title="r2c4">18</td><td class="active end-date in-range available" data-title="r2c5">19</td><td class="weekend available" data-title="r2c6">20</td></tr><tr><td class="weekend available" data-title="r3c0">21</td><td class="available" data-title="r3c1">22</td><td class="available" data-title="r3c2">23</td><td class="available" data-title="r3c3">24</td><td class="available" data-title="r3c4">25</td><td class="available" data-title="r3c5">26</td><td class="weekend available" data-title="r3c6">27</td></tr><tr><td class="weekend available" data-title="r4c0">28</td><td class="available" data-title="r4c1">29</td><td class="available" data-title="r4c2">30</td><td class="available" data-title="r4c3">31</td><td class="off ends available" data-title="r4c4">1</td><td class="off ends available" data-title="r4c5">2</td><td class="weekend off ends available" data-title="r4c6">3</td></tr><tr><td class="weekend off ends available" data-title="r5c0">4</td><td class="off ends available" data-title="r5c1">5</td><td class="off ends available" data-title="r5c2">6</td><td class="off ends available" data-title="r5c3">7</td><td class="off ends available" data-title="r5c4">8</td><td class="off ends available" data-title="r5c5">9</td><td class="weekend off ends available" data-title="r5c6">10</td></tr></tbody></table></div><div class="calendar-time" style="display: none;"></div></div><div class="drp-calendar right"><div class="calendar-table"><table class="table-condensed"><thead><tr><th></th><th colspan="5" class="month">Sep 2022</th><th class="next available"><span></span></th></tr><tr><th>Su</th><th>Mo</th><th>Tu</th><th>We</th><th>Th</th><th>Fr</th><th>Sa</th></tr></thead><tbody><tr><td class="weekend off ends available" data-title="r0c0">28</td><td class="off ends available" data-title="r0c1">29</td><td class="off ends available" data-title="r0c2">30</td><td class="off ends available" data-title="r0c3">31</td><td class="available" data-title="r0c4">1</td><td class="available" data-title="r0c5">2</td><td class="weekend available" data-title="r0c6">3</td></tr><tr><td class="weekend available" data-title="r1c0">4</td><td class="available" data-title="r1c1">5</td><td class="available" data-title="r1c2">6</td><td class="available" data-title="r1c3">7</td><td class="available" data-title="r1c4">8</td><td class="available" data-title="r1c5">9</td><td class="weekend available" data-title="r1c6">10</td></tr><tr><td class="weekend available" data-title="r2c0">11</td><td class="available" data-title="r2c1">12</td><td class="available" data-title="r2c2">13</td><td class="available" data-title="r2c3">14</td><td class="available" data-title="r2c4">15</td><td class="available" data-title="r2c5">16</td><td class="weekend available" data-title="r2c6">17</td></tr><tr><td class="weekend available" data-title="r3c0">18</td><td class="available" data-title="r3c1">19</td><td class="available" data-title="r3c2">20</td><td class="available" data-title="r3c3">21</td><td class="available" data-title="r3c4">22</td><td class="available" data-title="r3c5">23</td><td class="weekend available" data-title="r3c6">24</td></tr><tr><td class="weekend available" data-title="r4c0">25</td><td class="available" data-title="r4c1">26</td><td class="available" data-title="r4c2">27</td><td class="available" data-title="r4c3">28</td><td class="available" data-title="r4c4">29</td><td class="available" data-title="r4c5">30</td><td class="weekend off ends available" data-title="r4c6">1</td></tr><tr><td class="weekend off ends available" data-title="r5c0">2</td><td class="off ends available" data-title="r5c1">3</td><td class="off ends available" data-title="r5c2">4</td><td class="off ends available" data-title="r5c3">5</td><td class="off ends available" data-title="r5c4">6</td><td class="off ends available" data-title="r5c5">7</td><td class="weekend off ends available" data-title="r5c6">8</td></tr></tbody></table></div><div class="calendar-time" style="display: none;"></div></div><div class="drp-buttons"><span class="drp-selected">08/17/2022 - 08/19/2022</span><button class="cancelBtn btn btn-sm btn-default" type="button">Cancel</button><button class="applyBtn btn btn-sm btn-primary" type="button">Apply</button> </div></div>
