<div class="wrapper">
     {{> navbar}}
     {{> sidebar}}
     <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Quản lý thu chi</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Quản lý user</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content" >
      <div class="container-fluid">
        <div class="modal fade" id="modal-default-revenue-expense">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header" style="background-color: #007bff">
              <h4 class="modal-title" style="color:#fff">Khoảng thu chi</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
             <form id="FormRevenueExpense">
              <div class="modal-body">
                <div class="card-body">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Loại</label>
                    <select id="ChooseRevenue" class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" style="width: 100%;">
                        <option value="1">Thu</option>
                        <option value="2">Chi</option>
                    </select>
                    <p style="color: red"><small ></small></p>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Số tiền</label>
                    <input type="text" class="form-control" id="InputTotalTypeRevenueExpense" placeholder="Nhập số tiền">
                    <p style="color: red"><small ></small></p>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Ghi chú</label>
                    <input type="text" class="form-control" id="InputNoter" placeholder="Nhập ghi chú">
                    <p style="color: red"><small ></small></p>
                  </div>
                </div>
              </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Hủy</button>
                    <button type="submit" class="btn btn-success btn-sm">Tạo mới</button>
                </div>
              </form>     
          </div>
        </div>
      </div>
      <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Danh sách thu chi</h3>
                 <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <button type="button"  class="btn btn-block btn-success" data-toggle="modal" data-target="#modal-default-revenue-expense">
                      Thêm mới
                    </button>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4"><div class="row"><div class="col-sm-12 col-md-6"></div>
                <div class="col-sm-12 col-md-6"></div></div><div class="row"><div class="col-sm-12">
                  <table id="table-revenue-expense" class="table table-bordered table-hover dataTable dtr-inline" aria-describedby="example2_info">
                  <thead>
                    <tr>
                      <th tabindex="0" aria-controls="example2"
                       rowspan="1" colspan="1">
                       Ngày tạo
                       </th>
                       <th tabindex="0" aria-controls="example2" 
                       rowspan="1" colspan="1" >
                       Số tiền
                       </th>
                       <th tabindex="0" aria-controls="example2" 
                       rowspan="1" colspan="1" >
                       Ghi chú
                       </th>
                       </tr>
                  </thead>
                  <tbody id="body-revenue-expense">
                    {{#each listRevenueExpense}}
                      <tr class="odd">
                        <td>{{dateFormat this.create_date "DD/MM/yyyy"}}</td>
                        <td>{{this.total}}</td>
                        <td>{{this.note}}</td>
                      </tr>
                  {{/each}}
                  </tbody>
                </table></div></div>
                <div class="row">
                  <div class="col-sm-12 col-md-5">
                      <div class="dataTables_info" id="example2_info" role="status" aria-live="polite">
                        Số khoảng thu chi: <span id="total-revenue-expense">{{total}}</span>
                         <span id="total-pages" style="display: none;">{{totalPages}}</span>
                      </div>
                  </div>
                  <div class="col-sm-12 col-md-7">
                    <div class="dataTables_paginate paging_simple_numbers" id="example2_paginate">
                      <ul class="pagination" id="PaginationGeneral">
                        <li class="paginate_button page-item previous disabled" id="example2_previous" disabled>
                          <a href="#" aria-controls="example2" data-dt-idx="0" tabindex="0" class="page-link" >
                            Previous
                          </a>
                        </li>
                        <li class="paginate_button page-item active">
                          <a href="#" aria-controls="example2" data-dt-idx="1" tabindex="0" class="page-link">
                            1
                          </a>
                        </li>
                        {{#for 2 totalPages 1}}
                        <li class="paginate_button page-item ">
                            <a href="#" aria-controls="example2" data-dt-idx=`{{this}}` tabindex="0" class="page-link">{{this}}</a>
                        </li>
                        {{/for}}
                        {{#if (compare totalPages 1)}}
                          <li class="paginate_button page-item next disabled" id="example2_next">
                              <a href="#" aria-controls="example2" data-dt-idx="7" tabindex="0" class="page-link">Next</a>
                          </li>
                          {{else}}
                          <li class="paginate_button page-item next" id="example2_next">
                              <a href="#" aria-controls="example2" data-dt-idx="7" tabindex="0" class="page-link">Next</a>
                          </li>
                        {{/if}}
                      </ul>
                                </div>
                            </div>
                          </div>
                      </div>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
      </div>
    </section>
  </div>
   <footer class="main-footer">
    <strong>Copyright &copy; 2014-2021 <a href="https://adminlte.io">AdminLTE.io</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
      <b>Version</b> 3.2.0
    </div>
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
</div>
  

