<div class="wrapper">
     {{> navbar}}
     {{> sidebar}}
     <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Quản lý thu chi</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Quản lý user</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content" >
      <div class="container-fluid">
        <div class="modal fade" id="modal-default-revenue-expense">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header" style="background-color: #007bff">
              <h4 class="modal-title" style="color:#fff">Khoảng thu chi</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
             <form id="FormRevenueExpense">
              <div class="modal-body">
                <div class="card-body">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Loại</label>
                    <input type="text" class="form-control" id="InputTypeRevenueExpense" placeholder="Nhập họ và tên">
                    <p style="color: red"><small ></small></p>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Số tiền</label>
                    <input type="text" class="form-control" id="InputTotalTypeRevenueExpense" placeholder="Nhập số tiền">
                    <p style="color: red"><small ></small></p>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Ghi chú</label>
                    <input type="password" class="form-control" id="InputNoter" placeholder="Nhập ghi chú">
                    <p style="color: red"><small ></small></p>
                  </div>
                  {{!-- <div class="form-group">
                    <label>Nhóm quyền</label>
                    <select id="ChoosePermission" class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" style="width: 100%;">
                      {{#each listPermission}}
                        <option value="{{this.type}}">{{this.name}}</option>
                      {{/each}}
                    </select>
                    <p style="color: red" id="ErrorCreateUser"></p>
                </div> --}}
                </div>
              </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Hủy</button>
                    <button type="submit" class="btn btn-success btn-sm">Tạo mới</button>
                </div>
                </form>     
          </div>
        </div>
      </div>

      <div class="modal fade" id="modal-default-update-user">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header" style="background-color: #007bff">
              <h4 class="modal-title" style="color:#fff">Thông tin user</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
             <form id="LogUpdateUser">
              <div class="modal-body">
                <div class="card-body">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Họ và tên</label>
                    <input type="text" class="form-control" id="InputNameUpdateUser" placeholder="Nhập họ và tên">
                    <p style="color: red"><small ></small></p>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Tên đăng nhập</label>
                    <input type="text" class="form-control" id="InputUsernameUpdateUser" placeholder="Nhập tên đăng nhập" disabled>
                    <p style="color: red"><small ></small></p>
                  </div>
                  <div class="form-group">
                    <label>Nhóm quyền</label>
                    <select id="UpdateChoosePermission" class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" style="width: 100%;">
                      {{#each listPermission}}
                        <option value="{{this.type}}">{{this.name}}</option>
                      {{/each}}
                    </select>
                    <p style="color: red" id="ErrorCreateUser"></p>
                </div>
                </div>
              </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Hủy</button>
                    <button type="submit" class="btn btn-info btn-sm">
                              <i class="fas fa-pencil-alt">
                              </i>
                              Cập nhật
                          </button>
                </div>
                </form>     
          </div>
        </div>
      </div>
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title" style="font-weight: bold">Danh sách thu chi</h3>
                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">
                  <button type="button"  class="btn btn-block btn-success" data-toggle="modal" data-target="#modal-default-revenue-expense">
                  Thêm mới
                </button>
                  </div>
                </div>
              </div>
              <div class="card-body table-responsive p-0" style="height: 500px">
                <table class="table table-head-fixed text-nowrap" id="TableUser">
                  <thead>
                    <tr>
                      <th>Họ và tên</th>
                      <th>Tên đăng nhập</th>
                      <th>Quyền</th>
                      <th>Ngày tạo</th>
                    </tr>
                  </thead>
                  {{!-- <tbody id="table-user">
                    {{#each listUser}}
                      <tr>
                        <td>{{this.name}}</td>
                        <td>{{this.username}}</td>
                        <td><span class="tag tag-success">{{this.roleDetail}}</span></td>
                        <td>{{dateFormat this.create_date "DD/MM/yyyy"}}</td>
                        <td> 

                          <a class="btn btn-info btn-sm" data-toggle="modal" data-target="#modal-default-update-user">
                              <i class="fas fa-pencil-alt">
                              </i>
                              Chỉnh sửa
                          </a>
                    </td>
                      </tr>
                    {{/each}}
                  </tbody> --}}
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
   <footer class="main-footer">
    <strong>Copyright &copy; 2014-2021 <a href="https://adminlte.io">AdminLTE.io</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
      <b>Version</b> 3.2.0
    </div>
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
</div>
  

